.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
.ipynb_checkpoints/
.ipynb_*
*.sbatch
data/*cov
scripts/.DS_Store
data_challenge/
interface/.DS_Store
.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
data/.DS_Store

accuracy_check.ipynb
accuracy_check.py
accuracy_check2.py
chi2s_CAMBAB.txt
chi2s_NCl.txt
chi2s_Na.txt
files4ac/
files4scalecut/
kmodescalecut.ipynb
kmodescalecut.py
l2k2t.py
lsst_wcdm_*
sbatch/
submit_lcdm.sh
thetas.npy
xim_thetas.npy
xip_thetas.npy

data/cov_lsst
data/cov_lsst_eyes