.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
.ipynb_checkpoints/
.ipynb_*
*.sbatch
data/*cov
scripts/.DS_Store
data_challenge/
interface/.DS_Store
.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
data/.DS_Store

data
EXAMPLE_MCMC1.yaml
EXAMPLE_MCMC2.yaml
EXAMPLE_EVALUATE1.yaml
EXAMPLE_EVALUATE2.yaml

runyaml.ipynb

chains/roman_setup3_multievaluate
chains/roman_setup1_multievaluate
sbatch

check_chi2.ipynb
ccl_compare_plot.ipynb
ccl_compare.ipynb
ccl_compare.py