.DS_Store
chains/.DS_Store
data/.DS_Store
interface/.DS_Store
likelihood/.DS_Store
notebooks/.DS_Store
scripts/.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
ROMAN_*.yaml
ROMAN_*.sbatch
notebooks/*
.ipynb_checkpoints/
.ipynb_*
*.sbatch
scripts/.DS_Store
data_challenge/

sbatch/
data/cov_lsst_eyes
data/cov_lsst_fourier