.DS_Store
chains/.DS_Store
data/.DS_Store
interface/.DS_Store
likelihood/.DS_Store
notebooks/.DS_Store
scripts/.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
ROMAN_*.yaml
ROMAN_*.sbatch
notebooks/*
.ipynb_checkpoints/
.ipynb_*
*.sbatch
scripts/.DS_Store
data_challenge/

data
EXAMPLE_MCMC1.yaml
EXAMPLE_EVALUATE1.yaml
EXAMPLE_EVALUATE2.yaml

runyaml.ipynb